@nodejs
Feature: Node.js Example

  Background:
    Given defined "hit" object:
    """
    var Hit = require('hit').Hit

    var hit = new Hit
    """

  Scenario: Is that hit valid?
    
    When I call:
    """
    hit.isValid()
    """
    
    Then it should return:
    """
    true
    """
  
  Scenario: Get hit validation errors
    When I call:
    """
    hit.validationResults()
    """
    Then it should return:
    """
    {}
    """

